<!DOCTYPE html>
<html>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
<head>
    <title>Activity List</title>
</head>
<body>
    <h1>Activity List</h1>
    <table style="width:100%">
        <tr>
            
            <th>Data/Ora inizio</th>
            <th>Durata (Minuti)</th>
            <th>Distanza (metri)</th>
            <th>Velocità media (Km/h)</th>
            <!-- Add more columns as per your requirement -->
        </tr>
        {% for activity in activities %}
        <tr>
            <!--<td>{{ activity.created_at|date:"Y-m-d H:i:s" }}</td> -->
            <td>{{ activity.start_time|date:"Y-m-d H:i:s" }}</td>
            <td>{{ activity.duration }}</td>
            <td>{{ activity.initialvalues_distance }}</td>
            <td>{{ activity.trackmetrics_average_speed }}</td>
            <!-- Add more columns as per your requirement -->
        </tr>
        {% endfor %}
    </table>  
</body>
</html>
